{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>eScan Enterprise Edition</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>eScan Enterprise Edition</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/escan_ent.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>eScan Enterprise Edition</h2>
            <p>
              With the constantly increasing security threats in the information
              technology landscape, protection of valuable intellectual property
              and business data against theft/misuse without interrupting
              business continuity is a critical issue. With the constantly
              increasing security threats in the information technology
              landscape, protection of valuable intellectual property and
              business data against theft/misuse without interrupting business
              continuity is a critical issue. eScan Enterprise Edition (with
              Hybrid Network Support) also includes MailScan, which is the
              world's most advanced Real-Time Anti-Virus and Anti-Spam solution
              for Mail Servers. MailScan safeguards organizations against Virus,
              Worm, Trojan and many other malware breeds with futuristic and
              proactive technologies.
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li><i class="bx bxs-check-circle"></i>Device Control</li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Data Theft Notification
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Application Control
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Enhanced Two-way Firewall
                  </li>
                  <li><i class="bx bxs-check-circle"></i>Advanced Anti-Spam</li>
                  <li><i class="bx bxs-check-circle"></i>Privacy Control</li>
                </ul>
              </div>
            </div>
            <h3>
              A Comprehensive Security Solution for Your Corporate Network
            </h3>
            <p>
              Worried about the security of your business network across every
              endpoint – including physical and virtual machines, servers,
              storage devices, email and Internet? Use the new and improved
              eScan Corporate Edition (with Hybrid Network Support) that
              safeguards your corporate network from all kinds of cyber threats.
              As Information Technology is a key backbone of any business, today
              IT security is considered as a pivotal part of business strategy
              by the organizations. With the constantly increasing threats in
              the cyber security landscape, protection of valuable intellectual
              property and business data against theft / misuse without
              interrupting business continuity is a critical issue. Eliminating
              threats is a challenge; hence businesses consider protection
              against such threats as a top management issue. eScan’s new
              anti-virus for corporates strengthens the cyber security
              capabilities of the businesses by providing multi-layered
              protection to complex threats and secures critical business
              information effectively without constraining business growth. It
              is an excellent combination of advanced and futuristic
              technologies that provides protection to Windows as well as
              Macintosh and Linux computers in the network.
            </p>
          </div>

          <div class="service-article-another">
            {% comment %}
            <h2>What Benefit You Will Get</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. cu sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies ne, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
              vel, aliquet n, vu eget, arcu. In enim justo, rhoncus ut,
              imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
              mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
              semper nisi. Aenean vulputate eleifend tellus. Aen li, porttitor
              eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/escan_ent1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/escan_ent2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About eScan</h2>
            <p>
              IT users are increasingly adopting new and innovative technologies
              and spending more time online. Be it work, home or school, our
              dependence on technology has no limits and is only growing towards
              the upward graph. This has led to an array of cyber threats that
              are persistent, sophisticated and targeted increasing the risk of
              to our confidential information. Hence, in such situation
              preventing these evolving cyber threats is a must where as
              detecting them before they cause harm to your computing activities
              is equally important. eScan Anti-Virus with Cloud Security for
              Home and Small Office Edition is a specially designed security
              solution that provides real-time protection to computers from
              objectionable content and security threats, such as Viruses,
              Spyware, Adware, Keyloggers, Rootkits, Botnets, Hackers, Spam, and
              Phishing.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
