{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>eScan Total Security</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>eScan Total Security</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/escan_total.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>eScan Total Security</h2>
            <p>
              eScan Total Security Suite for Business is a comprehensive
              Anti-Virus and Information Security Solution that allows you to
              manage risk and protect your critical infrastructure efficiently.
              Moreover, the new eScan Management Console (EMC) module includes a
              Secure Web Interface that facilitates dynamic security management
              of the server and endpoints in a corporate network. It is an
              excellent combination of advanced and futuristic technologies that
              provides protection to your Windows based devices and endpoints in
              the corporate network.
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Secure Web Interface
                  </li>
                  <li><i class="bx bxs-check-circle"></i>Asset Management</li>
                  <li><i class="bx bxs-check-circle"></i>Endpoint Security</li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Session Activity Report
                  </li>
                  <li><i class="bx bxs-check-circle"></i>Web Protection</li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Outbreak Prevention
                  </li>
                </ul>
              </div>
            </div>

            <p>
              eScan Total Security Suite delivers complete protection for your
              devices. It is packed with the largest threat-detection network,
              virus protection, and home network security that won’t slow down
              your PC. New cloud protection technology detects threats as they
              emerge in real-time, Dynamic Proactive Behavioral Analysis Engine
              protects you even when offline, and our custom-built secure
              browser delivers top security and tough protection when shopping
              and making payments online. There is sophisticated layered
              real-time protection that monitors the computer against malware,
              keeping your application and data safe. Our powerful scan engine
              provides security against known and unknown malware, phishing, and
              virus attacks in real-time. eScan TSS is equipped with futuristic
              technologies like Proactive Behavioral Analysis Engine (PBAE),
              Non-Intrusive Learning Pattern (NILP), MicroWorld Winsock Layer
              (MWL) and many more. Smart parental control protects your kids
              from online threats and unwanted content.
            </p>
          </div>

          <div class="service-article-another">
            {% comment %}
            <h2>What Benefit You Will Get</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. cu sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies ne, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
              vel, aliquet n, vu eget, arcu. In enim justo, rhoncus ut,
              imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
              mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
              semper nisi. Aenean vulputate eleifend tellus. Aen li, porttitor
              eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/escan_total1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/escan_total2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About eScan </h2>
            <p>
              IT users are increasingly adopting new and innovative
              technologies and spending more time online. Be it work, home or
              school, our dependence on technology has no limits and is only
              growing towards the upward graph. This has led to an array of
              cyber threats that are persistent, sophisticated and targeted
              increasing the risk of to our confidential information. Hence, in
              such situation preventing these evolving cyber threats is a must
              where as detecting them before they cause harm to your computing
              activities is equally important. eScan Anti-Virus with Cloud
              Security for Home and Small Office Edition is a specially designed
              security solution that provides real-time protection to computers
              from objectionable content and security threats, such as Viruses,
              Spyware, Adware, Keyloggers, Rootkits, Botnets, Hackers, Spam, and
              Phishing.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
