{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Blog Style Two</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Blog Style Two</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img src="assets/images/shape/inner-shape.png" alt="Images" />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Area -->
<div class="blog-area pt-100 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <span class="sp-color2">Latest Blog</span>
      <h2>Let’s Check Some Latest Blog</h2>
    </div>

    {% comment %} blog list {% endcomment %}
    <div class="row pt-45">
      {% for post in object_list %}
      <div class="col-lg-4 col-md-6">
        <div class="blog-card">
          <div class="blog-img">
            <a href="blog-details.html">
              <img src="assets/images/blog/blog-img1.jpg" alt="Blog Images" />
            </a>
            <div class="blog-tag">
              <h3>11</h3>
              <span>Dec</span>
            </div>
          </div>
          <div class="content">
            <ul>
              <li>
                <a href="index.html"
                  ><i class="bx bxs-user"></i>{{post.author.first_name}}
                  {{post.author.last_name}}</a
                >
              </li>
              <li>
                <a href="index.html"
                  ><i class="bx bx-purchase-tag-alt"></i>Business</a
                >
              </li>
            </ul>
            <h3>
              <a href="{% url 'BlogDetail' post.pk%}">{{post.title}} </a>
            </h3>
            <p>{{post.body}}</p>
          </div>
        </div>
      </div>
      {% endfor %} {% comment %} blog list {% endcomment %}

      <div class="col-lg-12 col-md-12 text-center">
        <div class="pagination-area">
          <a href="blog-2.html" class="prev page-numbers">
            <i class="bx bx-left-arrow-alt"></i>
          </a>

          <span class="page-numbers current" aria-current="page">1</span>
          <a href="blog-2.html" class="page-numbers">2</a>
          <a href="blog-2.html" class="page-numbers">3</a>

          <a href="blog-2.html" class="next page-numbers">
            <i class="bx bx-right-arrow-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Area End -->
{% endblock body %}
