{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements" name="description" />
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Enterprise Grade Security</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Netcore Security</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img src="{% static 'assets/images/shape/inner-shape.png' %}" alt="Images" />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img src="{% static 'assets/images/services/email_arc.jpg' %}" alt="Images" />
          </div>
          <div class="service-article-content">
            <h2>Enterprise Grade Security</h2>
            <p>
              Netcore email servers are located in dedicated spaces at secure data centres. 
              Our data centres are SSAE 18 SOC 2 Type II compliant. We have multiple geographically 
              separated facilities to ensure the availability and continuity of our services in the 
              event of any disaster. We periodically invite third party vendors to perform VAPT and 
              network assessment on Netcore emails' infrastructure to ensure continued security.
              .
            </P>
            <p>
              With our 1-way encryption, all your customers' email addresses will always be encrypted. 
              Neither you nor us will have access to the plain-text data.
            </p>
            <p>
              Only share details that are required for teams to perform their tasks. 
              Restrict unnecessary access to additional data.

            </p>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Highly reliable data centres
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>1-way encryption
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Encrypted data in transit

                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Limit team-level access

                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>GDPR compliance
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Unmatched customer experiences
                  </li>
                </ul>
              </div>
            </div>

            <p>
              Netcore securely backs-up your entire organization’s email into a
              centralized archive. Powerful search mechanisms allow you to view and
              restore email for any user, any email address, over any time period.
            </P>
            <p>
              Compatible with all mail systems, Netcore readies your company for
              compliance, and helps you save money in the process.
            </p>

            </p>
          </div>

          <div class="service-article-another">
            <h2>Email Security With Targeted Threat Protection

            </h2>
            <p>
              Email is both an organization’s most important communication platform and 
              the application most susceptible to attack. Organizations and employees are 
              targets for increasingly sophisticated attacks designed to steal money, 
              credentials, customer data and other valuable intellectual property. Mimecast 
              Targeted Threat Protection defends organizations from spear-phishing, ransomware, 
              impersonation and other targeted attacks.


            </p>
            <p>
              You are the center of everything we do. From building the next feature to 
              helping you leverage it, to achieving your engagement and retention KPIs - 
              we make sure we are there for you at each and every step of your journey. 
              All our teams are customer-first, and we wouldn't want it any other way.

            </p> 
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img src="{% static 'assets/images/services/email_arc1.jpg' %}" alt="Images" />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img src="{% static 'assets/images/services/email_arc2.jpg' %}" alt="Images" />
                </div>
              </div>
            </div>
            <p>
              Undisputed leaders in the customer experience space. Our use of 
              cutting-edge technology paired with a customer-first approach has helped 
              us achieve high customer satisfaction ratings across these major categories 
              in the enterprise customer engagement suite.

            </p>
          </div>

          <div class="service-work-process">
            <h2>About Netcore</h2>
            <p>
              Netcore Cloud is a global Martech product company that helps B2C brands
              create amazing digital experiences with a range of products that help in
              acquisition, engagement, and retention. The first and leading AI/ML-powered
              marketing automation and customer engagement platform, Netcore Cloud was
              established in 1997 by Rajesh Jain, an internet pioneer. Today Netcore Cloud
              is revolutionizing the way marketing & product teams engage with the consumers.
            </p>
            <p>
              At Netcore Cloud, we believe your customers deserve “Intelligent Customer
              Experience” to every consumer across all the digital touchpoints. Experiences
              that are Contextual, Personalized, and delight to your customer.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}