{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Document Management Solution</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Document Management Solution</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/doc_m_main.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>Document Management Solution</h2>
            <p>
              Stop dreaming!! Your dream of a paperless office and still access
              to all your information even easier and quicker than before has
              arrived. Welcome to the ViciDocs Enterprise Content Management
              (ECM) solution. ECM is the capturing, management, storage,
              preservation, and delivery of your business information. Our
              flexible core electronic content management solution with rich
              features for data capturing, archiving, managing, indexing and
              retrieving of your information. The flexible data capturing module
              makes it possible to extract data from almost every source with
              integrated digitization, e- mail, Optical Character Recognition
              (OCR), image to text conversions and scanning technologies.
              Managing your documents is made easy with the use of intelligent
              indexing and tagging mechanisms so you will never lose that
              important document again.
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Reduce Turn Around Time
                  </li>
                  <li><i class="bx bxs-check-circle"></i>Reduces Storage</li>
                  <li><i class="bx bxs-check-circle"></i>Faster Search</li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Increase Performance
                  </li>
                  <li><i class="bx bxs-check-circle"></i>Improved Security</li>
                  <li>
                    <i class="bx bxs-check-circle"></i>No Lost Files Services
                  </li>
                </ul>
              </div>
            </div>

            <p>
              DP World operates more than 65 marine terminals across six
              continents with a professional team of nearly 30,000 people.
              Container handling is the company's core business. Jebel Ali Port,
              DP World's flagship facility, handled 13.6 million TEU in 2013 and
              has been voted 'Best Seaport in the MiddleEast' for 19 consecutive
              years. The ViciDocs ECM solution enabled DP World to grow and
              increase their service and customer satisfaction. ViciDocs is used
              by the following departments:
              <li>Commercial Department</li>
              <li>Information Technology (IT)</li>
              <li>Human Resources (HR)</li>
              <li>Marine Operations</li>
              <li>Procurement</li>
              <li>Finance</li>
              <li>Technical Departments</li>
              <br />
              The solution is implemented to capture and store all important
              documents, both paper based and electronic. The key to success is
              the reduction of search time to retrieve the information that is
              required.
            </p>
          </div>

          <div class="service-article-another">
            <h2>About Vicisoft Technologies</h2>
            <p>
              Vicisoft specialises in information management solutions to
              structure unstructured content like images, forms, emails and
              documents for medium and large enterprises. In 2000 a team of
              highly educated professionals found each other and bundled their
              knowledge to bring their vision alive in the Vicisoft Enterprise
              Pro solution. The experience has shaped the solution to one of the
              top players in today’s Enterprise Content Management (ECM) market
              with a proven track record. The design, development and delivery
              processes are all ISO 9001-2008 certified by UKAS since 2006. This
              ensures you the highest standard in the market.
            </p>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/doc_m_1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/doc_m_2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
          </div>

          <div class="service-work-process">
            <h2>Our Working Proccess</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. cu sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies ne, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
              vel, aliquet n, vu eget, arcu. In enim justo, rhoncus ut,
              imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
              mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
              semper nisi. Aenean vulputate eleifend tellus. Aen li, porttitor
              eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
