{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Vicisoft Software Services</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Vicisoft</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Case Study Area -->
<div class="case-study-area pt-100">
  <div class="container">
    <div class="section-title text-center">
      <span class="sp-color2">Vicisoft Software Services</span>
      <h2>We specialise in information management solutions.</h2>
    </div>

    <div class="row pt-45">
      <div class="col-lg-4 col-md-6">
        <div class="case-study-item">
          <a href="case-details.html">
            <img
              src="{% static 'assets/images/services/doc_m.jpg' %}"
              alt="Images"
            />
          </a>
          <div class="content">
            <h3>
              <a href="case-details.html">Document Management Software</a>
            </h3>
            <ul>
              <li><a href="case-details.html">Services</a></li>
              <li><a href="case-details.html">Vicisoft</a></li>
            </ul>
            <a href="case-details.html" class="more-btn"
              ><i class="bx bx-right-arrow-alt"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="case-study-item">
          <a href="case-details.html">
            <img
              src="{% static 'assets/images/services/workflow.jpg' %}"
              alt="Images"
            />
          </a>
          <div class="content">
            <h3><a href="case-details.html">Web Development</a></h3>
            <ul>
              <li><a href="case-details.html">Design</a></li>
              <li><a href="case-details.html">Development</a></li>
            </ul>
            <a href="case-details.html" class="more-btn"
              ><i class="bx bx-right-arrow-alt"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Case Study Area End -->

<div class="about-area ptb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-play">
          <img
            src="{% static 'assets/images/about/about-img1.jpg' %}"
            alt="About Images"
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-content ml-25">
          <div class="section-title">
            <span class="sp-color2">Vicisoft Technologies</span>
            <h2>
              Experience that shapes the solution
            </h2>
            <p>
              We along with Vicisoft Technologies specialize in information
              management solutions to structure unstructured content like
              images, forms, emails and documents for medium and large
              enterprises. With a team of highly educated professionals found
              each other and bundled their knowledge to bring their vision alive
              in the Vicisoft Enterprise Pro solution.
            </p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul class="about-list text-start">
                <li><i class="bx bxs-check-circle"></i>Ease of Use</li>
                <li><i class="bx bxs-check-circle"></i>Scalability</li>
                <li>
                  <i class="bx bxs-check-circle"></i>Low Capital Expenditure
                </li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-6">
              <ul class="about-list about-list-2 text-start">
                <li><i class="bx bxs-check-circle"></i>High Availability</li>
                <li><i class="bx bxs-check-circle"></i>Low Overheads</li>
                <li><i class="bx bxs-check-circle"></i>Quick Implementation</li>
              </ul>
            </div>
          </div>
          <p class="about-content-text">
            The experience has shaped the solution to one of the top players in
            today’s Enterprise Content Management (ECM) market with a proven
            track record. The our flagship product is ViciDocs Enterprise Pro,
            an integrated document management system, that has established a
            prestigious client list in various verticals like Financial
            Services, Construction, Logistics, E-governance etc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
