{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Workflow Management Solution</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Workflow Management Solution</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/workflow.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>Workflow Management Solution</h2>
            <p>
              The tools that move content throughout an identified business
              process, such as claims processing or document review are called a
              Business Process Management (BPM) applications. These are
              frameworks that can be used to develop, deploy, monitor, and
              optimize multiple types of process automation
              applications-including processes that involve both systems and
              people. ViciFlow is a powerful Business Process module from
              Vicisoft Technologies. Workflow handles approvals and prioritizes
              the order documents are presented. In the case of exceptions,
              workflow also escalates decisions to the next person in the
              hierarchy. These decisions are based on pre-defined rules
              developed by system owners.
            </p>
            <h3>Why use an EDM based Workflow Solution?</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Increase Efficiency
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Improve Reliability
                  </li>
                  <li>
                    {% comment %} <i class="bx bxs-check-circle"></i>Increase
                    Accountability {% endcomment %}
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Increase Transparency
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Increase Accountability
                  </li>
                  <li>
                    {% comment %} <i class="bx bxs-check-circle"></i>Good
                    Quality Products {% endcomment %} Services
                  </li>
                </ul>
              </div>
            </div>
            <h3>What is a business process?</h3>
            <p>
              A business process or business method is a collection of related,
              structured activities or tasks that produce a specific service or
              product (serve a particular goal) for a particular customer or
              customers. It can often be visualized with a flowchart as a
              sequence of activities with interleaving decision points or with a
              Process Matrix as a sequence of activities with relevance rules
              based on data in the process.
            </p>
          </div>

          <div class="service-article-another">
            <h2>How easy are these workflow management systems to use?</h2>
            <p>
              You can get a sense of how easy a system is to use from watching a
              live or recorded demonstration, but a better approach is to
              request a trial account with a pre-built process you can
              reference. This will give you a chance to share the actual working
              environment with anyone who may be using it. Put yourself in the
              mindset that you have already purchased the system and need to get
              things done in it. How hard is it to use? How does the interface
              make you feel, considering you and others may spend much time
              there? Check out the Help site as well. Vendors who value user
              experience will leave you feeling secure and confident.
            </p>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/workflow1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/workflow2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About Vicisoft Technologies</h2>
            <p>
              Vicisoft specialises in information management solutions to
              structure unstructured content like images, forms, emails and
              documents for medium and large enterprises. In 2000 a team of
              highly educated professionals found each other and bundled their
              knowledge to bring their vision alive in the Vicisoft Enterprise
              Pro solution. The experience has shaped the solution to one of the
              top players in today’s Enterprise Content Management (ECM) market
              with a proven track record.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
