{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements</title>
<meta content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
{% endblock head %}


{% block body %}


<!-- Banner Area -->
<div class="banner-slider-area">
    <div class="banner-slider owl-carousel owl-theme">
        <div class="banner-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-item-content">
                            <span>Only High Quality Services</span>
                            <h1>Excellent IT Services for Your Success</h1>
                            {% comment %} <p>
                                Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                            </p> {% endcomment %}
                            <div class="banner-btn">
                                <a href="{% url 'About' %}" class="default-btn btn-bg-two border-radius-50">Learn More <i
                                        class='bx bx-chevron-right'></i></a>
                                <a href="{% url 'Contact' %}" class="default-btn btn-bg-one border-radius-50 ml-20">Get A Quote
                                    <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-item item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-item-content">
                            <span>Only High Quality Services</span>
                            <h1>We Provide Best IT Services for Your Need</h1>
                            {% comment %} <p>
                                Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                            </p> {% endcomment %}
                            <div class="banner-btn">
                                <a href="{% url 'About' %}" class="default-btn btn-bg-two border-radius-50">Learn More <i
                                        class='bx bx-chevron-right'></i></a>
                                <a href="{% url 'Contact' %}" class="default-btn btn-bg-one border-radius-50 ml-20">Get A Quote
                                    <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-item item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-item-content">
                            <span>Only High Quality Services</span>
                            <h1>Digital IT Service With Excellent Quality</h1>
                            {% comment %} <p>
                                Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                            </p> {% endcomment %}
                            <div class="banner-btn">
                                <a href="{% url 'About' %}" class="default-btn btn-bg-two border-radius-50">Learn More <i
                                        class='bx bx-chevron-right'></i></a>
                                <a href="{% url 'Contact' %}" class="default-btn btn-bg-one border-radius-50 ml-20">Get A Quote
                                    <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->

<!-- About Area -->
<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="about-content mr-20">
                    <div class="section-title">
                        <span class="sp-color2">15 Years of Experience</span>
                        <h2>Right Partner for IT Innovation</h2>
                        <p>
                            Digital Venture Solutions (Z) Ltd., is a member of the Melcome Group of companies, it is a
                            multi-facet Information Communication Technology (ICT) solution provider for Zambia. It was
                            established to address the needs of the local companies from small medium enterprises (SMEs)
                            to the big organizations including multinational companies (MNCs). Digital Venture Solutions
                            (Z) Ltd. has within its fold, skilled staff with engineering capabilities and multiple years
                            of experience in the ICT industry both locally and in the international arena. We respect
                            our clients’ priorities and needs. We emphasize excellent teamwork with our clients and
                            together we co-manage and co-create solutions that ensure best customer value for their
                            development budget within the fastest possible time.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="about-content-card">
                                <i class="flaticon-practice"></i>
                                <h3>Experience</h3>
                                {% comment %} <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                                {% endcomment %}
                            </div>
                        </div>

                        <div class="col-lg-6 col-6">
                            <div class="about-content-card">
                                <i class="flaticon-help"></i>
                                <h3>Quick Support</h3>
                                {% comment %} <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'assets/images/about/about-img1.jpg' %}" alt="About Images">
                    <div class="sub-content">
                        <img src="{% static 'assets/images/about/about-img2.jpg' %}" alt="About Images">
                        <div class="content">
                            <h3>4.5k</h3>
                            <span>Satisfied Clients</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->

<!-- Services Area -->
<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color1">Our Services</span>
            <h2>We Provide a Wide Variety of IT Services</h2>
            <p class="margin-auto">
                Digital Venture Solutions (Z) Ltd. has developed an efficient and secure local, regional and global
                network of reputable suppliers. This network allows us to service our clients promptly with all the
                industry’s leading brands at extremely competitive market prices. </p>
        </div>
        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-consultant"></i> {% endcomment %}
                    <h3><a href="{% url 'Vicisoft' %}">Vicisoft Software Solutions</a></h3>
                    <p>We offer best IT management solutions for medium and large enterprises. </p>
                    <a href="{% url 'Vicisoft' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-consulting"></i> {% endcomment %}
                    <h3><a href="{% url 'Escan' %}">eScan range of Antivirus</a></h3>
                    <p>We offer internet security solution that provides virus protection to businesses and home.</p>
                    <a href="{% url 'Escan' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-web-development"></i> {% endcomment %}
                    <h3><a href="{% url 'SharpEducation' %}">Sharp Education Solution</a></h3>
                    <p>With its core ‘Education through Innovation’ Sharp offers to change the way Education</p>
                    <a href="{% url 'SharpEducation' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-stats"></i> {% endcomment %}
                    <h3><a href="{% url 'NetcoreCloud' %}">Netcore Email Services</a></h3>
                    <p>Build and grow your email program with the most advanced AI-powered email platform.</p>
                    <a href="{% url 'NetcoreCloud' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-stats"></i> {% endcomment %}
                    <h3><a href="{% url 'Cable' %}">Networking Cable</a></h3>
                    <p>Structured Cabling solution is a perfect choice for any business looking to build business
                        network. </p>
                    <a href="{% url 'Cable' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-stats"></i> {% endcomment %}
                    <h3><a href="{% url 'Router' %}">Router</a></h3>
                    <p>Top performing WiFi Routers, so you can game online, stream movies, shop and more.</p>
                    <a href="{% url 'Router' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-stats"></i> {% endcomment %}
                    <h3><a href="{% url 'Switch' %}">Switches</a></h3>
                    <p>Our future-ready data center switches are packed with the latest hardware. </p>
                    <a href="{% url 'Switch' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services-card">
                    {% comment %} <i class="flaticon-stats"></i> {% endcomment %}
                    <h3><a href="{% url 'EndpointSecurity' %}">End-point Security</a></h3>
                    <p>Using Artificial intelligence to protect the personal and professional you. </p>
                    <a href="{% url 'EndpointSecurity' %}" class="learn-btn">Learn More <i class='bx bx-chevron-right'></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="service-shape">
        <img src="{% static 'assets/images/shape/service-shape1.png' %}" alt="Images">
    </div>
</section>
<!-- Services Area End -->

<!-- Work Process Area -->
<section class="work-process-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            {% comment %} <span class="sp-color2">Our Working Process</span> {% endcomment %}
            <h2>Accelerate growth through innovative IT Solutions</h2>
        </div>


        <div class="security-area pt-100 pb-70">
            <div class="container">
                <div class="row pt-45">
                    <div class="col-lg-4 col-sm-6">
                        <div class="security-card">
                            {% comment %} <i class="flaticon-cyber-security"></i> {% endcomment %}
                            <h3>OUR VISION</a></h3>
                            <p>To provide business solutions using the right technology & tools at the right time
                                So that our clients will be able to function effectively, with the most
                                productivity and management mind set.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="security-card">
                            {% comment %} <i class="flaticon-cyber-security"></i> {% endcomment %}
                            <h3>OUR MISSION</a></h3>
                            <p>To provide unrivalled technologically advanced total solutions to meet
                                the advancement of cutting edge technology.
                                And to provide committed after sales service and support</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="security-card">
                            {% comment %} <i class="flaticon-cyber-security"></i> {% endcomment %}
                            <h3>OUR VALUE</a></h3>
                            <p>We emphasize that it is not necessary to have the latest technology or tool, but in
                                fact we need to implement the “right technology and the right tools at the right
                                time”</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Work Process Area End -->

<!-- Build Area -->
<div class="build-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
                <div class="build-content">
                    <div class="section-title">
                        {% comment %} <span>We Carry More Than Just Good Coding Skills</span> {% endcomment %}
                        <h2>Building foundations for our
                            clients’ success.!</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="build-btn-area">
                    <a href="{% url 'Contact' %}" class="default-btn btn-bg-two border-radius-50">Contact Us <i
                            class='bx bx-chevron-right'></i></a>
                </div>
            </div>
        </div>

        <div class="build-play-img pt-45">
            <img src="{% static 'assets/images/build-img.jpg' %}" alt="Images">
            <div class="play-area-content">
                <span>Watch Our Intro Video</span>
                <h2>Perfect Solution for IT Services!</h2>
            </div>
            <div class="play-area">
                <a href="https://www.youtube.com/watch?v=tUP5S4YdEJo" class="play-on popup-btn"><i
                        class='bx bx-play'></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Build Area End -->

<!-- Counter Area -->
{% comment %} <div class="counter-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color2">Numbers Are Talking</span>
            <h2>Let’s Check Our Business Growth and Success Story</h2>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris Morbi accumsan ipsum velit. </p>
        </div>
        <div class="row pt-45">
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-web-development"></i>
                    <h3>4205+</h3>
                    <span>Delivered Goods</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-consulting-1"></i>
                    <h3>245+</h3>
                    <span>IT Consulting</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-startup"></i>
                    <h3>3550+</h3>
                    <span>Fully Launched</span>
                </div>
            </div>

            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-another-content">
                    <i class="flaticon-tick"></i>
                    <h3>6545+</h3>
                    <span>Project Completed</span>
                </div>
            </div>
        </div>
    </div>

    <div class="counter-shape">
        <div class="shape1">
            <img src="{% static 'assets/images/shape/shape1.png' %}" alt="Images">
        </div>
        <div class="shape2">
            <img src="{% static 'assets/images/shape/shape2.png' %}" alt="Images">
        </div>
    </div>
</div> {% endcomment %}
<!-- Counter Area End -->

<!-- Call Area -->
<div class="call-us-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="call-contact">
                    <h3>Call Us 24/7</h3>
                    <a href="tel:+260 211 287717" class="call-btn">+260 211 287717</a>
                    <p>Whether you’re looking for network management services, secure cloud hosting and support, or custom application development services, we’re here to help. Contact us today to learn what it’s like to work with our team of IT support specialists and how we can help your business succeed.</p>
                    <a href="{% url 'Contact' %}" class="default-btn btn-bg-two border-radius-5">Contact Us</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="call-us-img">
                    <img src="{% static 'assets/images/call-us/call-us-img1.png' %}" alt="Images">
                    <div class="call-shape">
                        <div class="shape1">
                            <img src="{% static 'assets/images/call-us/call-shap2.png' %}" alt="Images">
                        </div>

                        <div class="shape2 shape2-rs">
                            <img src="{% static 'assets/images/call-us/call-shap3.png' %}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call Area End -->
{% comment %} 
<!-- Case Study Area -->
<div class="case-study-area pt-100 pb-70">
    <div class="container-fluid p-0">
        <div class="section-title text-center">
            <span class="sp-color2">Case Study</span>
            <h2>Introduce Our Projects and Check Recent Work </h2>
        </div>

        <div class="case-study-slider owl-carousel owl-theme pt-45">
            <div class="case-study-item">
                <a href="case-details.html">
                    <img src="{% static 'assets/images/case-study/case-study1.jpg' %}" alt="Images">
                </a>
                <div class="content">
                    <h3><a href="case-details.html">Business Solution</a></h3>
                    <ul>
                        <li><a href="case-details.html">Business</a></li>
                        <li><a href="case-details.html">Planing</a> </li>
                    </ul>
                    <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="case-study-item">
                <a href="case-details.html">
                    <img src="{% static 'assets/images/case-study/case-study2.jpg' %}" alt="Images">
                </a>
                <div class="content">
                    <h3><a href="case-details.html">Business Solution</a></h3>
                    <ul>
                        <li><a href="case-details.html">Business</a></li>
                        <li><a href="case-details.html">Planing</a> </li>
                    </ul>
                    <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="case-study-item">
                <a href="case-details.html">
                    <img src="{% static 'assets/images/case-study/case-study3.jpg' %}" alt="Images">
                </a>
                <div class="content">
                    <h3><a href="case-details.html">Business Solution</a></h3>
                    <ul>
                        <li><a href="case-details.html">Business</a></li>
                        <li><a href="case-details.html">Planing</a> </li>
                    </ul>
                    <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="case-study-item">
                <a href="case-details.html">
                    <img src="{% static 'assets/images/case-study/case-study4.jpg' %}" alt="Images">
                </a>
                <div class="content">
                    <h3><a href="case-details.html">UI/UX Research</a></h3>
                    <ul>
                        <li><a href="case-details.html">UI/UX Design</a></li>
                        <li><a href="case-details.html">Research</a> </li>
                    </ul>
                    <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="case-study-item">
                <a href="case-details.html">
                    <img src="{% static 'assets/images/case-study/case-study6.jpg' %}" alt="Images">
                </a>
                <div class="content">
                    <h3><a href="case-details.html">Business Solution</a></h3>
                    <ul>
                        <li><a href="case-details.html">Solution</a></li>
                        <li><a href="case-details.html">Business</a> </li>
                    </ul>
                    <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="case-study-item">
                <a href="case-details.html">
                    <img src="{% static 'assets/images/case-study/case-study2.jpg' %}" alt="Images">
                </a>
                <div class="content">
                    <h3><a href="case-details.html">Web Development</a></h3>
                    <ul>
                        <li><a href="case-details.html">Design</a></li>
                        <li><a href="case-details.html">Development</a> </li>
                    </ul>
                    <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case Study Area End -->

<!-- Technology Area -->
<section class="technology-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color1">Technology Index</span>
            <h2>We Deliver Our Best Solution With The Goal of Trusting</h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-android"></i>
                    <h3>Android</h3>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-website"></i>
                    <h3>Web</h3>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-apple"></i>
                    <h3>ios</h3>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-television"></i>
                    <h3>TV</h3>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-smartwatch"></i>
                    <h3>Watch </h3>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-cyber-security"></i>
                    <h3>IoT</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Technology Area End --> {% endcomment %}

<!-- Brand Area -->
<div class="brand-area ptb-100">
    <div class="container">
        <div class="brand-slider owl-carousel owl-theme">
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/kaspersky.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/kaspersky.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/apc.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/apc.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/bitdefender.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/bitdefender.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/canon.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/canon.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/cisco.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/cisco.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/dell.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/dell.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/epson.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/epson.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/fortinet.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/fortinet.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/hp.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/hp.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/lenovo.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/lenovo.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/microsoft.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/microsoft.png' %}" class="brand-logo-two" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'assets/images/brand-logo/poly.png' %}" class="brand-logo-one" alt="Images">
                <img src="{% static 'assets/images/brand-logo/poly.png' %}" class="brand-logo-two" alt="Images">
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End -->

<!-- Clients Area -->
<section class="clients-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color2">Our Clients</span>
            <h2>Our Clients Feedback</h2>
        </div>

        <div class="clients-slider owl-carousel owl-theme pt-45">
            <div class="clients-content">
                <div class="content">
                    <img src="{% static 'assets/images/clients-img/clients-img1.jpg' %}" alt="Images">
                    <i class='bx bxs-quote-alt-left'></i>
                    <h3>Jonthon Martin</h3>
                    <span>App Developer</span>
                </div>
                <p>
                    “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                    elit consequat ipsum, nec sagittis.
                    sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                    accumsan ipsum velit.”
                </p>
            </div>

            <div class="clients-content">
                <div class="content">
                    <img src="{% static 'assets/images/clients-img/clients-img2.jpg' %}" alt="Images">
                    <i class='bx bxs-quote-alt-left'></i>
                    <h3>Alin Decros</h3>
                    <span>Graphic Designer</span>
                </div>
                <p>
                    “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                    elit consequat ipsum, nec sagittis.
                    sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                    accumsan ipsum velit.”
                </p>
            </div>

            <div class="clients-content">
                <div class="content">
                    <img src="{% static 'assets/images/clients-img/clients-img3.jpg' %}" alt="Images">
                    <i class='bx bxs-quote-alt-left'></i>
                    <h3>Elen Musk</h3>
                    <span>Web Developer</span>
                </div>
                <p>
                    “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                    elit consequat ipsum, nec sagittis.
                    sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren
                    accumsan ipsum velit.”
                </p>
            </div>
        </div>
    </div>

    <div class="client-circle">
        <div class="client-circle-1">
            <div class="circle"></div>
        </div>
        <div class="client-circle-2">
            <div class="circle"></div>
        </div>
        <div class="client-circle-3">
            <div class="circle"></div>
        </div>
        <div class="client-circle-4">
            <div class="circle"></div>
        </div>
        <div class="client-circle-5">
            <div class="circle"></div>
        </div>
        <div class="client-circle-6">
            <div class="circle"></div>
        </div>
        <div class="client-circle-7">
            <div class="circle"></div>
        </div>
    </div>
</section>
<!-- Clients Area End -->
{% comment %} 
<!-- Blog Area -->
<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-color2">Latest Blog</span>
            <h2>Let’s Check Some Latest Blog</h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="{% static 'assets/images/blog/blog-img1.jpg' %}" alt="Blog Images">
                        </a>
                        <div class="blog-tag">
                            <h3>11</h3>
                            <span>Dec</span>
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                <a href="blog-1.html"><i class='bx bxs-user'></i> By Admin</a>
                            </li>
                            <li>
                                <a href="blog-1.html"><i class='bx bx-purchase-tag-alt'></i>Business</a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">Product Idea Solution for New Generation</a>
                        </h3>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            nisi elit consequat ipsum.</p>
                        <a href="blog-details.html" class="read-btn">Read More <i class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="{% static 'assets/images/blog/blog-img2.jpg' %}" alt="Blog Images">
                        </a>
                        <div class="blog-tag">
                            <h3>14</h3>
                            <span>Dec</span>
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                <a href="blog-1.html"><i class='bx bxs-user'></i> By Admin</a>
                            </li>
                            <li>
                                <a href="blog-1.html"><i class='bx bx-purchase-tag-alt'></i>Invention</a>
                            </li>
                        </ul>
                        <h3>
                            <a href="blog-details.html">New Device Invention for Digital Platform</a>
                        </h3>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            nisi elit consequat ipsum.</p>
                        <a href="blog-details.html" class="read-btn">Read More <i class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="blog-card">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="{% static 'assets/images/blog/blog-img3.jpg' %}" alt="Blog Images">
                        </a>
                        <div class="blog-tag">
                            <h3>17</h3>
                            <span>Dec</span>
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                <a href="blog-1.html"><i class='bx bxs-user'></i> By Admin</a>
                            </li>
                            <li>
                                <a href="blog-1.html"><i class='bx bx-purchase-tag-alt'></i>Achive</a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">Business Strategy Make His Goal Acheive </a>
                        </h3>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            nisi elit consequat ipsum.</p>
                        <a href="blog-details.html" class="read-btn">Read More <i class='bx bx-chevron-right'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End --> {% endcomment %}

{% endblock body %}