{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Interactive Content</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Interactive Content</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/int_content.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>Interactive Content</h2>
            <p>
              Enriched teaching tools with versatile illustrations, animations
              and interesting presentation possibilities are now available at
              your fi ngertips. Spectacular interactive content and built-in
              skill-developing, illustrative and virtual lab applications help
              to arouse students' interest and help acquiring knowledge.
              <br />
              Enhance digital textbooks and create exercise books with
              interactive 3D animations, educational videos and exercises.
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Multi-Purpose
                    Applications
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Spectacular Screen Size
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Spectacular Image Quality
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li><i class="bx bxs-check-circle"></i>Sharp Pen Software</li>
                  <li>
                    <i class="bx bxs-check-circle"></i>SHARP Display Connect
                  </li>
                  <li><i class="bx bxs-check-circle"></i>MFP Connectivity</li>
                </ul>
              </div>
            </div>

            <p>
              The SHARP interactive display system combines genuine “4K reading
              and writing” and an intuitive “Pen-on-Paper” user experience with
              Zero Bonding and Sharp’s Precision Touch technology. The single
              USB-C connector makes it so simple to walk into a room, plug in
              your device and start working together straightaway. The
              interactive display also features an integrated controller with
              whiteboard, overlay, and wireless functionality to help enhance
              your productivity.
            </p>
          </div>

          <div class="service-article-another">
            <h2>Why choose us:</h2>
            <p>
              Our classroom management solution is action and goal-oriented. To
              build a positive learning environment; to have a positive impact
              on the achievement of students. We create an environment that
              encourages and enhances educational and social-emotional learning
              We maintain order to maximize the learning of students We promote
              and develop self-control by providing positive achievement and
              behaviour Proper management of the classrooms including effective
              communication of behavioural and academic expectations
            </p>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/int_content1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/int_content2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About Sharp</h2>
            <p>
              A Technology leader, Sharp is known for its innovations. For over
              100 years, Sharp has been introducing one-of-a-kind technologies
              that make human lives substantially richer. With its core
              ‘Education through Innovation’ Sharp off ers to change the way
              Education is imparted by providing a technology-ready, dynamic and
              collaborative learning environment.
            </p>
            <p>
              With hi-tech products such as the Intelligent Touch Boards to
              collaborative Education Solutions such as Classroom Management
              Solutiwons, Learning Management Systems and Interactive Content,
              Sharp provides a complete Eco-system for Education Institutions
              across the board
            </p>
            <p>
              There’s no doubt that smart learning is paving the way forward for
              the education sector. It’s important that educators of tomorrow
              embrace these advancements wholeheartedly. In doing so they’re
              able to turn a typical classroom setting into a fun, interactive
              and engaging environment. With new developments being made in the
              fi eld every year the exciting possibilities are endless. Here is
              Sharp providing solutions for the perfect learning environment.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
