{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Sharp Signage Solutions</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Sharp Signage Solutions</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/signage_m.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>Sharp Signage Solutions</h2>
            <p>
              Sharp hast the most extensive line-up of Digital Signage Monitors
              from screen sizes of 20” to 120”. The Signage Monitors can be
              deployed across Campuses, within Classrooms and Corridors to
              dynamically convey messages in real time. Here are some of the Key
              Signage Solutions apt for your Education Environment
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Real-time instruction
                    tools
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Interactive Student
                    Thumbnails
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Remote Login and Logoff
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Internet Monitoring and
                    Control
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Instant Student Surveys
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Testing and Quiz
                    Components
                  </li>
                </ul>
              </div>
            </div>
            <h3>Sharp Campus Signage</h3>
            <p>
              Digital communication in school - Inform students and teaching
              staff quickly and easily regarding substitutes*, room changes*,
              important internal school information and events, found items,
              current weather, and much more – on modern displays in the break
              hall, social rooms, classrooms, the cafeteria or the entire school
              premises..
            </p>
          </div>

          <div class="service-article-another">
            <h2>Sharp Classroom - Door Signage</h2>
            <p>
              Digital Door Signage - Provide dynamic information on the current
              class or lecture session inside classrooms to guests, visitors,
              students, professors through Digital Door Signage. Use modern
              digital door signs to direct, inform and call by name. There are
              many more possibilities. E.g. multiple screens mounted in
              different sites could display all scheduled lessons.
            </p>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/signage_m1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/signage_m2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About Sharp</h2>
            <p>
              A Technology leader, Sharp is known for its innovations. For over
              100 years, Sharp has been introducing one-of-a-kind technologies
              that make human lives substantially richer. With its core
              ‘Education through Innovation’ Sharp off ers to change the way
              Education is imparted by providing a technology-ready, dynamic and
              collaborative learning environment.
            </p>
            <p>
              With hi-tech products such as the Intelligent Touch Boards to
              collaborative Education Solutions such as Classroom Management
              Solutiwons, Learning Management Systems and Interactive Content,
              Sharp provides a complete Eco-system for Education Institutions
              across the board
            </p>
            <p>
              There’s no doubt that smart learning is paving the way forward for
              the education sector. It’s important that educators of tomorrow
              embrace these advancements wholeheartedly. In doing so they’re
              able to turn a typical classroom setting into a fun, interactive
              and engaging environment. With new developments being made in the
              fi eld every year the exciting possibilities are endless. Here is
              Sharp providing solutions for the perfect learning environment.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
