{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Sharp Intelligent Touch Boards</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>Intelligent Touch Boards</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/touch_board_m.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>Sharp Intelligent Touch Boards</h2>
            <p>
              Keeping everyone focused and engaged is a pre-requisite to any
              Classroom. A Smart Display can enhance Communication and with the
              Sharp Intelligent Touch Boards a variety of information can be
              displayed with ease and precision. Smart and convenient Annotation
              Software opens up new possibilities for brainstorming and sharing
              information in real time. The Sharp Intelligent Touch Boards are
              the perfect platform to boost collaboration and enhance the impact
              of your lessons and presentations.
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Multi-Purpose
                    Applications
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Spectacular Screen Size
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Spectacular Image Quality
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>SHARP Display Connect
                  </li>
                  <li><i class="bx bxs-check-circle"></i>SHARP Pen Software</li>
                  <li><i class="bx bxs-check-circle"></i>MFP Connectivity</li>
                </ul>
              </div>
            </div>

            <p>
              From the office boardroom to the conference room, training session
              to lecture hall, a Sharp touch-screen interactive display system
              can magnify your success. Motivate your audience. Improve your
              image. Give your message the impact it deserves. With Sharp on
              your presentation team, the possibilities are endless ... and
              every moment is right for a magnificent performance.
            </p>
          </div>

          <div class="service-article-another">
            <h2>A Better Way to Make a Big Impression</h2>
            <p>
              Sharp Intelligent Touch Boards are much more than your typical
              interactive white boards. Designed for smooth and effortless
              communication in a wide range of contexts, their highly responsive
              touch pens allow several people to write on the same touch screen
              at the same time. And the SHARP Display Connect software enables
              multifaceted wireless communication. Whether in the office
              boardroom or the classroom, Sharp changes the way you communicate.
            </p>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/touch_board_m1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/touch_board_m2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About Sharp</h2>
            <p>
              A Technology leader, Sharp is known for its innovations. For over
              100 years, Sharp has been introducing one-of-a-kind technologies
              that make human lives substantially richer. With its core
              ‘Education through Innovation’ Sharp off ers to change the way
              Education is imparted by providing a technology-ready, dynamic and
              collaborative learning environment.
            </p>
            <p>
              With hi-tech products such as the Intelligent Touch Boards to
              collaborative Education Solutions such as Classroom Management
              Solutiwons, Learning Management Systems and Interactive Content,
              Sharp provides a complete Eco-system for Education Institutions
              across the board
            </p>
            <p>
              There’s no doubt that smart learning is paving the way forward for
              the education sector. It’s important that educators of tomorrow
              embrace these advancements wholeheartedly. In doing so they’re
              able to turn a typical classroom setting into a fun, interactive
              and engaging environment. With new developments being made in the
              fi eld every year the exciting possibilities are endless. Here is
              Sharp providing solutions for the perfect learning environment.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
