{% load static %}
<div class="col-lg-4">
  <div class="side-bar-area">
    <div class="side-bar-widget">
      
      </div>
    </div>
<!-- Contact Form Area -->
<h3 class="title">Request A Quote</h3>

      {% comment %} <div class="col-lg-8"> {% endcomment %}
        <div class="contact-form">
          <form action="" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  {% csrf_token %}
                  <label>Your Name <span>*</span></label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    required
                    data-error="Please Enter Your Name"
                    placeholder="Name"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Your Email <span>*</span></label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    required
                    data-error="Please Enter Your Email"
                    placeholder="Email"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Phone Number <span>*</span></label>
                  <input
                    type="text"
                    name="phone_number"
                    id="phone_number"
                    required
                    data-error="Please Enter Your number"
                    class="form-control"
                    placeholder="Phone Number"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label>Your Subject <span>*</span></label>
                  <input
                    type="text"
                    name="msg_subject"
                    id="msg_subject"
                    class="form-control"
                    required
                    data-error="Please Enter Your Subject"
                    placeholder="Your Subject"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Your Message <span>*</span></label>
                  <textarea
                    name="message"
                    class="form-control"
                    id="message"
                    cols="30"
                    rows="8"
                    required
                    data-error="Write your message"
                    placeholder="Your Message"
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12">
                {% comment %} <div class="agree-label">
                  <input type="checkbox" id="chb1" />
                  <label for="chb1">
                    Accept
                    <a href="terms-condition.html">Terms & Conditions</a> And
                    <a href="privacy-policy.html">Privacy Policy.</a>
                  </label>
                </div> {% endcomment %}
              </div>

              <div class="col-lg-12 col-md-12 text-center">
                <button
                  type="submit"
                  class="default-btn btn-bg-two border-radius-50"
                >
                  Send Message <i class="bx bx-chevron-right"></i>
                </button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
          <h3 class="title">Our Services</h3>
          <div class="side-bar-categories">
            <ul>
                <li>
                    <a href="{% url 'Vicisoft' %}" target="_blank">
                    <h6>
                        Vici Software</h6>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Escan' %}" target="_blank">
                       <h6>
                        Escan</h6>
             </a>
                </li>
                <li>
                    <a href="{% url 'SharpEducation' %}" target="_blank">
                      <h6>
                        Sharp Education</h6>
                    </a>
                </li>
                <li>
                    <a href="{% url 'NetcoreCloud' %}" target="_blank">
                        <h6>
                        Netcore Cloud</h6>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Networking' %}" target="_blank">
                        <h6>
                        Networking</h6>
                </a>
                </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Form Area End -->
      </div>
    </div>
  </div>
</div>
