{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Digital Venture Solutions Zambia Ltd | One stop shop for all your IT
  requirements
</title>
<meta
  content="Digital Venture Solutions Zambia Ltd | One stop shop for all your IT requirements"
  name="description"
/>
<meta content="" name="keywords" />
<meta content="" name="author" />
{% endblock head %} {% block body %}

<!-- Inner Banner -->
<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>D-Link Routers</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <i class="bx bx-chevrons-right"></i>
        </li>
        <li>D-Link Routers</li>
      </ul>
    </div>
  </div>
  <div class="inner-shape">
    <img
      src="{% static 'assets/images/shape/inner-shape.png' %}"
      alt="Images"
    />
  </div>
</div>
<!-- Inner Banner End -->

<!-- Service Details Area -->
<div class="service-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="service-article">
          <div class="service-article-img">
            <img
              src="{% static 'assets/images/services/dlink_router.jpg' %}"
              alt="Images"
            />
          </div>
          <div class="service-article-content">
            <h2>D-Link Routers</h2>
            <p>
              D-Link provides comprehensive, scalable, and secure portfolio of
              routers for enterprise and service provider networks. D-Link
              scalable and secure network routers meet the needs of enterprise
              and service provider networks. DVS is among the most well-known
              D-Link routers dealer and distributor.
            </p>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list service-article-rs">
                  <li>
                    <i class="bx bxs-check-circle"></i>Optimization
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Coverage
                  </li>
                  {% comment %} <li>
                    <i class="bx bxs-check-circle"></i>Cost of Supplies and
                    Equipment
                  </li> {% endcomment %}
                </ul>
              </div>

              <div class="col-lg-6 col-md-6">
                <ul class="service-article-list">
                  <li>
                    <i class="bx bxs-check-circle"></i>Connectivity
                  </li>
                  <li>
                    <i class="bx bxs-check-circle"></i>Security
                  </li>
                  {% comment %} <li>
                    <i class="bx bxs-check-circle"></i>Good Quality Products
                    Services
                  </li> {% endcomment %}
                </ul>
              </div>
            </div>

            <p>
              D-Link Router supports the latest WPA3 Wi-Fi Security Protocol,
              which can help prevent brute-force password hacks, allows for more
              natural passwords, and secures past transmissions from being read,
              even if your password is exposed.D-Link router has the smarts to
              handle multiple wireless devices and enable smooth streaming and
              sharing across your entire home and office network. Technology
              that provides better performance and a lag-free wireless
              experience.
            </p>
          </div>

          <div class="service-article-another">
            {% comment %}
            <h2>What Benefit You Will Get</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. cu sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies ne, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
              vel, aliquet n, vu eget, arcu. In enim justo, rhoncus ut,
              imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
              mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
              semper nisi. Aenean vulputate eleifend tellus. Aen li, porttitor
              eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/dlink_router1.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="service-article-another-img">
                  <img
                    src="{% static 'assets/images/services/dlink_router2.jpg' %}"
                    alt="Images"
                  />
                </div>
              </div>
            </div>
            {% comment %}
            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
              consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
              amet. li, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            {% endcomment %}
          </div>

          <div class="service-work-process">
            <h2>About D-Link</h2>
            <p>
              D-Link, the global networking solutions provider, celebrates three
              decades of “Building Networks for People” across 65 countries.
              With ‘Passion to innovate’ as the core mantra, D-Link is committed
              to introducing the latest & best in networking technology. It is
              indeed the passion to innovate that has helped D-Link evolve into
              a globally diverse, billion dollar networking giant. Every day, in
              some 100 countries, D-Link powers hospital networks so that
              life-saving operations can be carried out. D-Link connects vast
              knowledge centres in the heart of universities and research
              institutes, enabling critical scientific breakthroughs. D-Link
              helps grow small businesses/ enterprises through its wide product
              portfolio.
              <br />
              Since its inception in 1986 in Taiwan, D-Link has grown from a
              group of seven friends to more than 2,700 employees around the
              world. Today D-Link is a global leader in connectivity for home,
              small business, medium to large-sized enterprise environments, and
              service providers with experience spanning 30 years. An
              award-winning designer, developer, and manufacturer, D-Link
              implements and supports unified network solutions that integrate
              capabilities in switching, wireless, broadband, storage, IP
              Surveillance, cloud-based network management, and Structured
              Cabling.

              <br />
              D-Link (India) Limited is a part of D-Link Corporation and is
              engaged in Marketing and Distribution of Networking products in
              India and SAARC region. The Equities of D-Link (India) Limited are
              listed in NSE & BSE Stock exchanges. D-Link (India) Limited is a
              key market player with a nationwide reach, and is firmly committed
              towards delivering high quality, efficient and reliable Networking
              products, solutions and services. D-Link India today has 17 branch
              offices with State of-the-art service support infrastructure
              present PAN India.
            </p>
          </div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>
<!-- Service Details Area End -->
{% endblock body%}
